include README.md
include LICENSE
include requirements*

recursive-include mabmaker/scripts *
recursive-include mabmaker/tools *
recursive-include mabmaker/utils *
recursive-include mabmaker/models *

# Exclude common unwanted files/directories
global-exclude *.py[cod] __pycache__ .DS_Store
